//! **************************************************************************
// Written by: Map L.57 on Mon Dec 09 14:58:34 2013
//! **************************************************************************

SCHEMATIC START;
COMP "EN" LOCATE = SITE "P6" LEVEL 1;
COMP "RS" LOCATE = SITE "R7" LEVEL 1;
COMP "RW" LOCATE = SITE "R5" LEVEL 1;
COMP "BTN_C" LOCATE = SITE "B21" LEVEL 1;
COMP "BTN_E" LOCATE = SITE "A23" LEVEL 1;
COMP "BTN_N" LOCATE = SITE "A22" LEVEL 1;
COMP "BTN_S" LOCATE = SITE "B22" LEVEL 1;
COMP "BTN_W" LOCATE = SITE "C21" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "E13" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "D14" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "E12" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "F12" LEVEL 1;
COMP "nRST" LOCATE = SITE "T23" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "D15" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "E15" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "E10" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "E11" LEVEL 1;
COMP "CLK" LOCATE = SITE "AD8" LEVEL 1;
COMP "LCDDATA<0>" LOCATE = SITE "R6" LEVEL 1;
COMP "LCDDATA<1>" LOCATE = SITE "T3" LEVEL 1;
COMP "LCDDATA<2>" LOCATE = SITE "R3" LEVEL 1;
COMP "LCDDATA<3>" LOCATE = SITE "P4" LEVEL 1;
SCHEMATIC END;

