NET "BTN_C" LOC = B21;
NET "BTN_C" IOSTANDARD = LVCMOS33;
NET "BTN_E" LOC = A23;
NET "BTN_E" IOSTANDARD = LVCMOS33;
NET "BTN_N" LOC = A22;
NET "BTN_N" IOSTANDARD = LVCMOS33;
NET "BTN_S" LOC = B22;
NET "BTN_S" IOSTANDARD = LVCMOS33;
NET "BTN_W" LOC = C21;
NET "BTN_W" IOSTANDARD = LVCMOS33;
NET "CLK" LOC = AD8;
NET "CLK" IOSTANDARD = LVCMOS33;
NET "CLK_33MHZ_FPGA" IOSTANDARD = LVCMOS33;
NET "DIP[0]" LOC = U4;
NET "DIP[0]" IOSTANDARD = LVCMOS33;
NET "DIP[1]" LOC = V3;
NET "DIP[1]" IOSTANDARD = LVCMOS33;
NET "DIP[2]" LOC = T4;
NET "DIP[2]" IOSTANDARD = LVCMOS33;
NET "DIP[3]" LOC = T5;
NET "DIP[3]" IOSTANDARD = LVCMOS33;
NET "DIP[4]" LOC = U6;
NET "DIP[4]" IOSTANDARD = LVCMOS33;
NET "DIP[5]" LOC = U5;
NET "DIP[5]" IOSTANDARD = LVCMOS33;
NET "DIP[6]" LOC = U7;
NET "DIP[6]" IOSTANDARD = LVCMOS33;
NET "DIP[7]" LOC = T7;
NET "DIP[7]" IOSTANDARD = LVCMOS33;
NET "EN" LOC = P6;
NET "EN" IOSTANDARD = LVCMOS33;
NET "LCDDATA[0]" LOC = R6;
NET "LCDDATA[0]" IOSTANDARD = LVCMOS33;
NET "LCDDATA[1]" LOC = T3;
NET "LCDDATA[1]" IOSTANDARD = LVCMOS33;
NET "LCDDATA[2]" LOC = R3;
NET "LCDDATA[2]" IOSTANDARD = LVCMOS33;
NET "LCDDATA[3]" LOC = P4;
NET "LCDDATA[3]" IOSTANDARD = LVCMOS33;
NET "LED[0]" LOC = E13;
NET "LED[0]" IOSTANDARD = LVCMOS33;
NET "LED[1]" LOC = D14;
NET "LED[1]" IOSTANDARD = LVCMOS33;
NET "LED[2]" LOC = E12;
NET "LED[2]" IOSTANDARD = LVCMOS33;
NET "LED[3]" LOC = F12;
NET "LED[3]" IOSTANDARD = LVCMOS33;
NET "LED[4]" LOC = D15;
NET "LED[4]" IOSTANDARD = LVCMOS33;
NET "LED[5]" LOC = E15;
NET "LED[5]" IOSTANDARD = LVCMOS33;
NET "LED[6]" LOC = E10;
NET "LED[6]" IOSTANDARD = LVCMOS33;
NET "LED[7]" LOC = E11;
NET "LED[7]" IOSTANDARD = LVCMOS33;
NET "LED_C" IOSTANDARD = LVCMOS33;
NET "LED_E" IOSTANDARD = LVCMOS33;
NET "LED_N" IOSTANDARD = LVCMOS33;
NET "LED_S" IOSTANDARD = LVCMOS33;
NET "LED_W" IOSTANDARD = LVCMOS33;
NET "RS" LOC = R7;
NET "RS" IOSTANDARD = LVCMOS33;
NET "RW" LOC = R5;
NET "RW" IOSTANDARD = LVCMOS33;
NET "nRST" LOC = T23;
NET "nRST" IOSTANDARD = LVCMOS33;
NET "nRST" PULLUP;
